body, html{
	overflow-x:hidden;
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.magazine-viewport .container{
	position:absolute;
	top:55%;
	left:50%;
	width:922px;
	height:600px;
	max-width:90%;
	margin:auto;
}

.magazine-viewport .magazine{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

.magazine-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.magazine-viewport .zoomer .region{
	display:none;
}

.magazine-viewport img {
	max-width: 100%;
	height: auto;
}

@media \0screen {
	.magazine-viewport img {
		width: auto;
	}
}

.magazine .region{
	position:absolute;
	overflow:hidden;
	background:#0066FF;
	opacity:0.2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .region:hover{
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.magazine .region.zoom{
	opacity:0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.magazine .region.zoom:hover{
	opacity:0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.magazine .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.magazine-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
	width: 19px;
	height: 25px;
}

.magazine .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.magazine .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.magazine-viewport .zoom-in .even .gradient,
.magazine-viewport .zoom-in .odd .gradient{

	display:none;

}

.magazine-viewport .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.magazine-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.magazine-viewport .next-button,
.magazine-viewport .previous-button{
	width:22px;
	height:900px;
	position:absolute;
	top:0;
}

.magazine-viewport .next-button{
	right:-22px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
}

.magazine-viewport .previous-button{
	left:-22px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
}

.magazine-viewport .previous-button-hover,
.magazine-viewport .next-button-hover{
	background-color:rgba(0,0,0, 0.2);
}

.magazine-viewport .previous-button-hover,
.magazine-viewport .previous-button-down{
	background-image:url(../pics/arrows.png);
	background-position:-4px 434px;
	background-repeat:no-repeat;
}

.magazine-viewport .previous-button-down,
.magazine-viewport .next-button-down{
	background-color:rgba(0,0,0, 0.4);
}

.magazine-viewport .next-button-hover,
.magazine-viewport .next-button-down{
	background-image:url(../pics/arrows.png);
	background-position:-38px 434px;
	background-repeat:no-repeat;
}

.magazine-viewport .zoom-in .next-button,
.magazine-viewport .zoom-in .previous-button{
	display:none;
}

.animated{
	-webkit-transition:margin-left 0.5s;
	-moz-transition:margin-left 0.5s;
	-ms-transition:margin-left 0.5s;
	-o-transition:margin-left 0.5s;
	transition:margin-left 0.5s;
}

.thumbnails{
	position:absolute;
	bottom:10%;
	left:20%;
	width:100%;
	height:240px;
	z-index:1;
}

.thumbnails > div{
	max-width:100%;
	height:80px;
	margin:20px auto;
}

.thumbnails ul{
	margin:0;
	padding:0;
	/*display: inline-block;*/
	text-align:center;
	-webkit-transform:scale3d(0.5, 0.5, 1);
	-moz-transform:scale3d(0.5, 0.5, 1);
	-o-transform:scale3d(0.5, 0.5, 1);
	-ms-transform:scale3d(0.5, 0.5, 1);
	transform:scale3d(0.5, 0.5, 1);
	-webkit-transition:-webkit-transform ease-in-out 100ms;
	-moz-transition:-moz-transform ease-in-out 100ms;
	-ms-transition:-ms-transform ease-in-out 100ms;
	-o-transition:-o-transform ease-in-out 100ms;
	transition:transform ease-in-out 100ms;
}

.thumbanils-touch ul{
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}

.thumbnails-hover ul{
	-webkit-transform:scale3d(0.6, 0.6, 1);
	-moz-transform:scale3d(0.6, 0.6, 1);
	-o-transform:scale3d(0.6, 0.6, 1);
	-ms-transform:scale3d(0.6, 0.6, 1);
	transform:scale3d(0.6, 0.6, 1);
}

.thumbnails li{
	list-style:none;
	display:inline-block;
	margin:20px 5px;
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	-ms-box-shadow:0 0 10px #ccc;
	-o-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px  #ccc;
	-webkit-transition:-webkit-transform 60ms;
	-moz-transition:-webkit-transform 60ms;
	-o-transition:-webkit-transform 60ms;
	-ms-transition:-webkit-transform 60ms;
	transition:-webkit-transform 60ms;
}

.thumbnails li span{
	display:none;
}

.thumbnails .current{
	-webkit-box-shadow:0 0 10px red;
	-moz-box-shadow:0 0 10px red;
	-ms-box-shadow:0 0 10px red;
	-o-box-shadow:0 0 10px red;
	box-shadow:0 0 10px red;
}

.thumbnails .thumb-hover{
	-webkit-transform:scale3d(1.3, 1.3, 1);
	-moz-transform:scale3d(1.3, 1.3, 1);
	-o-transform:scale3d(1.3, 1.3, 1);
	-ms-transform:scale3d(1.3, 1.3, 1);
	transform:scale3d(1.3, 1.3, 1);

	-webkit-box-shadow:0 0 10px #666;
	-moz-box-shadow:0 0 10px #666;
	-ms-box-shadow:0 0 10px #666;
	-o-box-shadow:0 0 10px #666;
	box-shadow:0 0 10px #666;
}

.thumbanils-touch .thumb-hover{
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}

.thumbnails .thumb-hover span{
	position:absolute;
	bottom:-30px;
	left:10%;
	z-index:2;
	width:100%;
	height:30px;
	font:bold 15px arial;
	line-height:30px;
	color:coral;
	display:block;
	cursor:default;
}

.thumbnails img{
	float:left;
	max-width: 100%;
	height:auto;
}

@media \0screen {
	.thumbnails img {
		width: auto;
	}
}

.exit-message{
	position: absolute;
	top:10px;
	left:0;
	width:100%;
	height:40px;
	z-index:10000;
}

.exit-message > div{
	width:140px;
	height:30px;
	margin:auto;
	background:rgba(0,0,0,0.5);
	text-align:center;
	font:12px arial;
	line-height:30px;
	color:white;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

.zoom-icon{
	position:absolute;
	z-index:1000;
	width:22px;
	height:22px;
	top:10px;
	right:10px;
	background-image:url(../pics/zoom-icons.png);
	background-size:88px 22px;
}

.zoom-icon-in{
	background-position:0 0;
	cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover{
	background-position:-22px 0;
	cursor: pointer;
}

.zoom-icon-out{
	background-position:-44px 0;
}

.zoom-icon-out.zoom-icon-out-hover{
	background-position:-66px 0;
	cursor: pointer;
}

.bottom{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}


@media all and (max-width: 480px) {
		
	.thumbnails {
		height: 50px;
		text-align: center;
	}
	div {
		margin: 0px;
	}
	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	.magazine-viewport .container{
		position:absolute;
		top:43%;
		left:50%;
		width:922px;
		height:600px;
		margin:auto;
	}
	.thumbnails{
		position:absolute;
		bottom:13%;
		left:-17%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 120%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:15px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
}

@media screen 
  and (-webkit-min-device-pixel-ratio: 1)  { 
  	.magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:922px;
		height:600px;
		margin:auto;
	}
	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	.thumbnails{
		position:absolute;
		bottom:4%;
		left:-7%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 120%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:15px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-30px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 50px;
		height: 65px;
	}

}



 
/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    /* insert styles here */

    .magazine-viewport .magazine{
		width:616px;
		height:401px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:308px;
		height:401px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50.5%;
		left:50%;
		width:80%;
		height:80%;
		margin:auto;
	}
	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}
	.thumbnails{
		position:absolute;
		bottom:5%;
		left:-17%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 120%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:35px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}

}
 
/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:42%;
		left:50%;
		width:80%;
		height:80%;
		margin:auto;
	}
	.thumbnails{
		position:absolute;
		bottom:7%;
		left:-10%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:25px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}
 
/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

    .magazine-viewport .container{
		position:absolute;
		top:49%;
		left:50%;
		width:80%;
		height:80%;
		margin:auto;
	}
	.thumbnails{
		position:absolute;
		bottom:7%;
		left:-10%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:35px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}
 
/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

    .magazine-viewport .container{
		position:absolute;
		top:49%;
		left:50%;
		width:80%;
		height:80%;
		margin:auto;
	}
	.thumbnails{
		position:absolute;
		bottom:7%;
		left:-10%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:35px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}
 
/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:80%;
		height:80%;
		margin:auto;
	}
	.thumbnails{
		position:absolute;
		bottom:7%;
		left:-10%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		/*width: 45px;*/
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:35px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

/* (1280x700) */
@media  screen and (max-width: 1440px) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:5%;
		left:8%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:35px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

/* (1280x72000) HD+ Display */
@media  screen and (max-width: 1280px) {
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:5%;
		left:8%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:25px 8px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

@media  screen and (max-width: 1024px) and (orientation: landscape) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:3%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:10px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:23px;
		left:-1;
		z-index:2;
		width:100%;
		height:auto;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 30px;
		height: 35px;
	}
}



@media  screen and (max-width: 950px) and (orientation: portrait) {
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:5%;
		left:8%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:25px 8px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

@media  screen and (max-width: 950px) and (orientation: landscape) {
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:5%;
		left:8%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:25px 8px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

@media  screen and (max-width: 768px) and (orientation: portrait) {
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:10%;
		left:8%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:25px 8px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

@media  screen and (max-width: 640px) and (orientation: landscape) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:5%;
		left:8%;
		width:100%;
		height:240px;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}
	.thumbnails img{
		float:left;
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:35px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 75px;
	}
}

@media  screen and (max-width: 720px) and (orientation: portrait) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:20%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:100%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:25px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:20px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 60px;
		height: 70px;
	}
}

@media  screen and (max-width: 640px) and (orientation: portrait) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:32%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:15px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 30px;
		height: 35px;
	}
}

@media  screen and (max-width: 450px) and (orientation: portrait) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:23%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:15px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 30px;
		height: 35px;
	}
}

@media  screen and (max-width: 360px) and (orientation: portrait) {
    /* insert styles here */
    .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:23%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 100%;
		height: 100%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:10px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:23px;
		left:-1;
		z-index:2;
		width:100%;
		height:auto;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 15px;
		height: 18px;
	}
}

/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		position:absolute;
		bottom:-10%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:10px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 30px;
		height: 35px;
	}

}

/* iPhone 5 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
	.magazine-viewport .magazine{
		width:922px;
		height:600px;
		left:-261px;
		top:-300px;
	}

	.magazine-viewport .page{
		width:461px;
		height:600px;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
    .magazine-viewport .container{
		position:absolute;
		top:50%;
		left:50%;
		width:60%;
		height:60%;
		margin:auto;
	}

	.magazine-viewport img {
		/*width:261px;*/
		max-width: 100%;
		height: auto;
	}

	@media \0screen {
		.magazine-viewport img {
			width: auto;
		}
	}

	.thumbnails{
		display: inline-block;
		position:absolute;
		bottom:36%;
		left:-1%;
		width:100%;
		/*max-width: 70%;*/
		height:auto;
		z-index:1;
	}
  	.thumbnails ul{
		margin:0;
		padding:0;
		display: inline-block;
		/*text-align:center;*/
		-webkit-transform:scale3d(0.5, 0.5, 1);
		-moz-transform:scale3d(0.5, 0.5, 1);
		-o-transform:scale3d(0.5, 0.5, 1);
		-ms-transform:scale3d(0.5, 0.5, 1);
		transform:scale3d(0.5, 0.5, 1);
		-webkit-transition:-webkit-transform ease-in-out 100ms;
		-moz-transition:-moz-transform ease-in-out 100ms;
		-ms-transition:-ms-transform ease-in-out 100ms;
		-o-transition:-o-transform ease-in-out 100ms;
		transition:transform ease-in-out 100ms;

		width: 80%;
		height: 80%;
	}

	.thumbnails > div{
		/*width: 1330px;*/
		max-width:100%;
		height:100%;
		margin:5px 5px;
	}

	.thumbnails img{
		float:left;
		/*width:auto;*/
		max-width:90%;
		height: auto;
	}

	@media \0screen {
		.thumbnails img {
			width: auto;
		}
	}
	.thumbnails li{
		list-style:none;
		display:inline-block;
		margin:10px 5px;
		-webkit-box-shadow:0 0 10px #ccc;
		-moz-box-shadow:0 0 10px #ccc;
		-ms-box-shadow:0 0 10px #ccc;
		-o-box-shadow:0 0 10px #ccc;
		box-shadow:0 0 10px  #ccc;
		-webkit-transition:-webkit-transform 60ms;
		-moz-transition:-webkit-transform 60ms;
		-o-transition:-webkit-transform 60ms;
		-ms-transition:-webkit-transform 60ms;
		transition:-webkit-transform 60ms;

		/*width: 45px;
		height: 60px*/;
	}
	.thumbnails .thumb-hover span{
		position:absolute;
		bottom:-10px;
		left:0;
		z-index:2;
		width:100%;
		height:30px;
		font:bold 15px arial;
		line-height:30px;
		color:coral;
		display:block;
		cursor:default;
	}

	.thumbnails ul li img{
		width: 30px;
		height: 35px;
	}
}