body, html{
	overflow-x:hidden;
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

body.background {
	background-image: url('../asset/Background-LS.jpg');
	background-size: cover;
	/* height: 100vh; */
}

.container-menu{
	background-image: url('../asset/menu/MENU_LS.jpg');
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center; 
	position: relative; 
	opacity: 0;
}

.container-menu .hud {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 300px;
    height: 100vh;
	padding-top: 50px;
}

.container-menu .hud .button {
	position: absolute;
    width: 100%;
    bottom: 18vh;
}

.container-menu .hud .button .download {
	margin-top: 35px;
	display: block;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
}

.container-menu .hud .button img{
	width: 100%;
}

.back-home a img{
	position:absolute;
	z-index:900;
	width:10%;
	height:55px;
	bottom:20px;
	right:32px;
	background-repeat: no-repeat;
	background-size:11%;
}

.back-home:hover, .back-home:focus{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#flex-item {
   text-align: center;
    margin: auto;
}
#splash {
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

/* (2560x1440) QWHD (landscape) */
@media  screen and (max-width: 2560px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 250px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 12vh;
	}

	.container-menu .hud .button .download {
		margin-top: 35px;
		display: block;
		width: 140px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:8%;
		height:77px;
		top:20px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1920x1080) FHD (landscape) */
@media  screen and (max-width: 1920px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 220px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 14vh;
	}

	.container-menu .hud .button .download {
		margin-top: 35px;
		display: block;
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:7%;
		height:54px;
		top:20px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1280x720) HD Display (landscape) */
@media  screen and (max-width: 1280px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 250px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 18vh;
	}

	.container-menu .hud .button .download {
		margin-top: 1px;
		display: block;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:9%;
		height:44px;
		top:20px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1136x640) Smartphone2 (landscape) */
@media  screen and (max-width: 1136px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 15vh;
	}

	.container-menu .hud .button .download {
		margin-top: 30px;
		display: block;
		width: 85px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:9%;
		height:38px;
		top:20px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1024x600) WSVGA Display (landscape) */
@media  screen and (max-width: 1024px) and (orientation: landscape) {

	.container-menu{
		/* width: 104%; */
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:9%;
		height:38px;
		top:20px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (960x640) DVGA Display (landscape) */
@media  screen and (max-width: 960px) and (orientation: landscape) {

	.container-menu{
		/* width: 104%; */
		background-image: url('../asset/menu/MENU_LS.jpg');
		/* background-size: 114%; */
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 250px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 24vh;
	}

	.container-menu .hud .button .download {
		margin-top: 10px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 140px;
		height: 100vh;
		padding-top: 40px;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:9%;
		height:38px;
		top:20px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: 105%;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (736x414) iPhone 6/7/8 Plus (landscape) ----------- */
@media  screen and (max-width: 736px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 180px;
		height: 100vh;
		padding-top: 40px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 18vh;
	}

	.container-menu .hud .button .download {
		margin-top: 1px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:9%;
		height:32px;
		top:20px;
		left:28px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (667x375) iPhone 6/7/8 (landscape) ----------- */
@media  screen and (max-width: 667px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 150px;
		height: 100vh;
		padding-top: 30px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 12vh;
	}

	.container-menu .hud .button .download {
		margin-top: 1px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:9%;
		height:32px;
		top:20px;
		left:28px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (640x360) Galaxy S5 (landscape) ----------- */
@media  screen and (max-width: 640px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 150px;
		height: 100vh;
		padding-top: 30px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 12vh;
	}

	.container-menu .hud .button .download {
		margin-top: 1px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:10%;
		height:28px;
		top:20px;
		left:28px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (568x320) iPhone 5 (landscape) ----------- */
@media screen and (max-device-width: 568px) and (orientation: landscape) {

	.container-menu{
		background-image: url('../asset/menu/MENU_LS.jpg');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 150px;
		height: 100vh;
		padding-top: 25px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 10vh;
	}

	.container-menu .hud .button .download {
		margin-top: 1px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:10%;
		height:27px;
		top:20px;
		left:28px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}


/* (2560x1440) QWHD (portrait) */
@media  screen and (max-width: 1440px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 150px;
		height: 100vh;
		padding-top: 25px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 10vh;
	}

	.container-menu .hud .button .download {
		margin-top: 5px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:16%;
		height:104px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 190%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1920x1080) FHD (portrait) */
@media  screen and (max-width: 1080px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 250px;
		height: 100vh;
		padding-top: 25px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 14vh;
	}

	.container-menu .hud .button .download {
		margin-top: 35px;
		display: block;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:16%;
		height:73px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 210%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1280x800) WXGA (portrait) */
@media  screen and (max-width: 800px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:19%;
		height:60px;
		top:48px;
		left:32px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 185%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1280x768) Smartphone1 (portrait) */
@media  screen and (max-width: 768px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:19%;
		height:63px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 180%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1280x720) HD Display (portrait) */
@media  screen and (max-width: 720px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 300px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 18vh;
	}

	.container-menu .hud .button .download {
		margin-top: 35px;
		display: block;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:16%;
		height:55px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 215%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (960x640) DVGA Display (portrait) */
@media  screen and (max-width: 640px) and (orientation: portrait) {
	.container-menu{
		/* width: 104%; */
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 300px;
		height: 100vh;
		padding-top: 50px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 10vh;
	}

	.container-menu .hud .button .download {
		margin-top: 5px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:14%;
		height:43px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 203%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (1024x600) WSVGA Display (portrait) */
@media  screen and (max-width: 600px) and (orientation: portrait) {
	.container-menu{
		/* width: 104%; */
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 160px;
		height: 100vh;
		padding-top: 1px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 20vh;
	}

	.container-menu .hud .button .download {
		margin-top: 10px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:16%;
		height:43px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

@media  screen and (max-width: 480px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 237%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (736x414) iPhone 6/7/8 Plus (portrait) */
@media  screen and (max-width: 414px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.container-menu .hud {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 150px;
		height: 100vh;
		padding-top: 5px;
	}
	
	.container-menu .hud .button {
		position: absolute;
		width: 100%;
		bottom: 10vh;
	}

	.container-menu .hud .button .download {
		margin-top: 5px;
		display: block;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.container-menu .hud .button img{
		width: 100%;
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:16%;
		height:37px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 225%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (667x375) iPhone 6/7/8 (portrait) ----------- */
@media  screen and (max-width: 375px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:20%;
		height:34px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 220%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* (640x360) Galaxy S5 (portrait) ----------- */
@media  screen and (max-width: 360px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:20%;
		height:32px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		/* background-size: 225%; */
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}

/* iPhone 5 (portrait) ----------- */
@media screen and (max-device-width: 320px) and (orientation: portrait) {

	.container-menu{
		background-image: url('../asset/menu/MENU_PT.png');
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center; 
		position: relative; 
	}

	.back-home a img{
		position:absolute;
		z-index:900;
		width:20%;
		height:31px;
		top:26px;
		left:30px;
		background-repeat: no-repeat;
		background-size:11%;
	}

	.back-home:hover, .back-home:focus{
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.flex-container {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	#flex-item {
	   text-align: center;
	    margin: auto;
	}
	#splash {
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}
}
